body{
  margin : 0;
  font-family: 'Roboto', sans-serif;
}

.heading-container{
  font-size: 3.5rem;
  text-align: center;
  margin-top: 3.125rem;
  font-weight: 900;
}

.heading-letter-P{
  color : #000223;
}

.heading-letter-r-first{
  color : #00053A;
}

.heading-letter-o{
  color : #000A52;
}

.heading-letter-f{
  color : #00186B;
}

.heading-letter-i{
  color : #002A85;
}

.heading-letter-t{
  color : #003F9F;
}

.heading-letter-i{
  color : #0055BB;
}

.heading-letter-n{
  color : #026DD7;
}

.heading-letter-e{
  color : #66AOFF;
}

.heading-letter-r{
  color : #87BBFF;
}

.heading-letter-y{
  color : #A6D6FF;
}

h1{
  width : 70%;
  margin-left: auto;
  margin-right : auto;
  margin-top: 3.125rem;
  margin-bottom : 2rem;
}

.intro-article, .image-container, .profits-comparison-article, .revenue-comparison-article{
  width : 70%;
  margin-left: auto;
  margin-right : auto;
}

table{
  width : 30%;
  margin-left: auto;
  margin-right : auto;
}

.revenue-comparison-article, .profits-comparison-article{
  margin-top : 1.25rem;
  margin-bottom : 3.125rem;
}

figure{
  margin : 0;
}

.walmart-profits-chart-image, .amazon-profits-chart-image, .apple-profits-chart-image, .cvs-health-profits-chart-image, .uhg-profits-chart-image{
  width : 70%;
  margin-left: auto;
  margin-right : auto;
}

article{
  width : 70%;
  margin-left: auto;
  margin-right : auto;
}

#uhg-study{
  margin-bottom: 3.125rem;
}

footer{
  color : white;
  background-color: #000223;
  height :9rem;
  line-height : 2.25rem;
  text-align: center;
}
